<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>

<ion-fab bottom right *ngIf="_isMobileDevice">
  <button ion-fab color="secondary" (click)="addNewEvent()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

<ion-content padding>

  <ion-list *ngIf="_isMobileDevice">


  </ion-list>

<ion-grid *ngIf="!_isMobileDevice">
<ion-row>

        <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 (click)="addNewEvent()">

        <ion-card>

          <img src="../../assets/new_user.png" />

          <ion-card-content>

            <ion-card-title>
              Add Event
            </ion-card-title>

          </ion-card-content>

        </ion-card>

      </ion-col>
</ion-row>

</ion-grid>
</ion-content>