<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Musicians</ion-title>
  </ion-navbar>

</ion-header>

<ion-fab bottom right *ngIf="_isMobileDevice">
  <button ion-fab color="secondary" (click)="addNewMusician()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content padding>

  <ion-list *ngIf="_isMobileDevice">

    <ion-item *ngFor="let musician of musicians" no-lines (click)="openDetails(musician)">

      <ion-thumbnail item-left>
        <img src="../../assets/thumbnail-totoro.png">
      </ion-thumbnail>

      <h2>{{musician.name}}</h2>
      <p>Instrument: {{musician.instrument}}</p>
      
    </ion-item>

  </ion-list>

  <ion-grid *ngIf="!_isMobileDevice">
    <ion-row>

      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 (click)="addNewMusician()">

        <ion-card>

          <img src="../../assets/new_user.png" />

          <ion-card-content>

            <ion-card-title>
              Add Musician
            </ion-card-title>

          </ion-card-content>

        </ion-card>

      </ion-col>

      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 *ngFor="let musician of musicians" (click)="openDetails(musician)">

        <ion-card>
          <img src="../../assets/thumbnail-totoro.png" />
          <ion-card-content>

            <ion-card-title>
              {{musician.name}}
            </ion-card-title>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>