page-login {

.scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;

    form {
      display: block;
    }

      form .item-md {
        padding-left: 0px;
      }

  }
  
}
